body {
    background-color: rgb(31,31,31);
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    float: left;
}

.road_types{
    vertical-align: top;
    width:20px;
    height:20px; 
}

.box{
    background-color: beige;
    display: block;
}

.axisY{
    display: block;
    width: 100%;
}

.small_wrap{
    width:50%;
}